/* Coolors Exported Palette - coolors.co/043561-121325-8f3985-98dfea-07beb8 */

/* HSL */
$prime-col: hsla(208%, 92%, 20%, 1);
$bg-col: hsla(237%, 35%, 11%, 1);
$color3: hsla(307%, 43%, 39%, 1);
$accent-col: hsla(188%, 66%, 76%, 1);
$color5: hsla(178%, 93%, 39%, 1);

/* RGB */
$color1: rgba(4, 53, 97, 1);
$color2: rgba(18, 19, 37, 1);
$color3: rgba(143, 57, 133, 1);
$color4: rgba(152, 223, 234, 1);
$color5: rgba(7, 190, 184, 1);
