@import 'fonts';
@import 'palette';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $main-font;
	color: $accent-col;
}

body {
	text-align: center;
	background-color: $bg-col;
}

main {
	width: 60vw;
	height: 100vh;
	margin: 0 auto;
}

#title-area {
	height: 25%;
	margin: 0 auto;
	h1 {
		font-size: 3.5rem;
	}

	p {
		font-weight: 500;
		font-size: 1.3rem;
	}

	#creator {
		margin-bottom: 3rem;
		a {
			color: $accent-col;
			text-decoration: none;
		}

		a:hover {
			color: $prime-col;
		}
	}

	#donate {
		margin-top: 0.5rem;
		font-size: 0.7rem;
	}
}

#content-area {
	height: 75%;
	section {
		height: 100%;
	}
	button {
		font-size: 1.3rem;
		font-weight: 500;
		width: 10em;
		height: 2em;
		background-color: $btn-col;
		color: $bg-col;
		border: none;
		cursor: pointer;
	}
	button:hover {
		background-color: transparent;
		border: 2px solid $btn-col;
		color: $btn-col;
	}
	p {
		font-weight: 500;
	}
}

#start-area {
	position: relative;
	#start {
		margin-top: 50vh;
	}
}

#question-area {
	height: 100%;
	p#question {
		font-size: 1.2em;
		margin-bottom: 5rem;
	}
	button#next-question {
		margin-top: 5rem;
	}
	#options {
		div {
			margin: 0 auto;
			text-align: left;
			width: 30%;
			min-width: 15em;
			input {
				margin-right: 2rem;
			}
		}
		input[type='text'] {
			width: 45%;
			min-width: 13em;
			height: 2em;
			font-size: 1rem;
			text-align: center;
		}
	}
}

#result-area {
	p#result {
		font-size: 1.2em;
		line-height: 1.5;
	}
	button#restart {
		margin-top: 5rem;
	}
}
